.App {
  /*text-align: center;*/
  height: 100vh;
  /* width: 100vw; */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 4vmin;
  pointer-events: none;
}

.App-logo-name {
  height: 5vmin;
}

.App-header {
  background-color: #000000;
  min-height: 16vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
  height: 16vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#hoops-container {
  position: relative;
  width: 41vw;
  height: 100%;
  float:left;
}

#scUpdateContainer {
  position: relative;
  background-color: lightslategray;
  padding: 2vh;
  height: 80vh;
}

#canvas {
  position: relative;
  width: 100%;
  height: 100%;
  border: black 2px solid;
  border-radius: 5px;
}

#root {
  width: 100%;
  height: 100%;
}

html, body {
  width: 100%;
  height: 100%;
}

#viewerTools {
  /* position: relative; */
  /* left: 48%; */
  /* margin: 1vh; */
  /* height: 1vh; */
  /* float: left; */
  float: left;
  width: 53vw;
  margin-left: 2vw;
}

.uiToolbar  {
  /* margin: 2vh; */
  /* float: left; */
  /* width: 52vw; */
  /* left: 7vw; */
  /* position: relative; */
  /* margin: 3vh; */
}

.uiToolbar button {
  margin: 0.5vw;
  border-radius: 5px;
  font: x-small Inconsolata, monospace;
  height: 3vh;
}

.uiToolbar input {
  margin: 0.5vh;
  border-radius: 5px;
  height: 3vh;
  vertical-align: middle;
}

.terminal {
  background-color: black;
  background-image: radial-gradient(
    rgba(0, 150, 0, 0.75), black 120%
  );
  height: 30vh;
  width: 100%;
  color: white;
  font: small Inconsolata, monospace;
  text-shadow: 0 0 5px #C8C8C8;
  float: right;
  margin-top: 2vh;
  /* padding: 3vh; */
  position: relative;
  border-radius: 5px;
  overflow-y: scroll;
  overflow-x: scroll;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
}

.terminal text {
  padding-top: .1vh;
  padding-left: 1vh;
}


.json-terminal {
  background-color: black;
  background-image: radial-gradient(
    rgba(0, 150, 0, 0.75), black 120%
  );
  height: 30vh;
  width: 100%;
  color: white;
  font: small Inconsolata, monospace;
  text-shadow: 0 0 5px #C8C8C8;
  float: right;
  margin-top: 2vh;
  /* padding: 3vh; */
  position: relative;
  border-radius: 5px;
  overflow-y: scroll;
  overflow-x: scroll;
  display: flex;
  flex-direction: column;
  /* white-space: nowrap; */
}

.json-terminal p {
  padding-top: .1vh;
  padding-left: 1vh;
}


::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}