.App {
  /*text-align: center;*/
  height: 100vh;
  /* width: 100vw; */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 6vmin;
  pointer-events: none;
  padding-top: 1%;
}

.App-logo-name {
  height: 7vmin;
}

.App-header {
  background-color: #022437;
  /* background-color: black; */
  background-image: radial-gradient(#022437, rgba(28, 154, 213, 0.75) 350%);
  min-height: 16vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
  height: 16vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#hoops-container {
  position: relative;
  width: 40%;
  height: 94%;
  float: left;
  margin: 1%;
}

#scUpdateContainer {
  position: relative;
  background-color: lightslategray;
  height: 84vh;
}

#canvas {
  position: relative;
  width: 100%;
  height: 100%;
  border: black 2px solid;
  border-radius: 5px;
}

#root {
  width: 100%;
  height: 100%;
}

html,
body {
  width: 100%;
  height: 100%;
}

#viewerTools {
  /* position: relative; */
  /* left: 48%; */
  /* margin: 1vh; */
  /* height: 1vh; */
  /* float: left; */
  float: left;
  width: 56%;
  margin-left: 2%;
  height: 94%;
  margin: 1%;
}

.uiToolbar {
  /* margin: 1%; */
  float: right;
  width: 52%;
  height: 45%;
  /* left: 7vw; */
  /* position: relative; */
  /* margin: 3vh; */
}

.uiToolbar button {
  /* margin-right: 25%; */
  margin-bottom: 2.5%;
  border-radius: 5px;
  font: small Inconsolata, monospace;
  font-size: calc(2px + 1vmin);
  height: 2.5em;
  background-color: #94a2af;
  display: flex;
  align-items: center;
}

.uiToolbar input {
  /* margin: 0.5vh; */
  border-radius: 5px;
  margin-bottom: 2%;
  height: 2.5em;
  vertical-align: middle;
  background-color: #94a2af;
}

.terminal {
  background-color: black;
  background-image: radial-gradient(rgba(28, 154, 213, 0.75), black 120%);
  height: 50%;
  width: 100%;
  color: white;
  font: small Inconsolata, monospace;
  text-shadow: 0 0 5px #c8c8c8;
  float: right;
  /* margin-top: 2%; */
  /* padding-top: 2.5%; */
  position: relative;
  border-radius: 5px;
  overflow-y: scroll;
  overflow-x: scroll;
  /* display: flex;
  flex-direction: column; */
  white-space: nowrap;
}

.terminal p {
  margin: 0.1vw 1vh 0.1vw 1vh;
  padding-top: 0.5%;
  padding-left: 1%;
}

.json-terminal {
  background-color: black;
  background-image: radial-gradient(rgba(28, 154, 213, 0.75), black 120%);
  height: 48%;
  width: 45%;
  color: white;
  font: small Inconsolata, monospace;
  text-shadow: 0 0 5px #c8c8c8;
  float: left;
  margin-bottom: 2vh;
  /* padding: 1%; */
  position: relative;
  border-radius: 5px;
  overflow-y: scroll;
  overflow-x: scroll;
  /* display: flex;
  flex-direction: column; */
  /* white-space: nowrap; */
}

.json-terminal p {
  margin: 0.1vw 1vh 0.1vw 1vh;
  padding: 1%;
}

pre {
  margin: 0;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  height: 0;
  background: transparent; /* Optional: just make scrollbar invisible */
}
